.downloadApps-14IgKV {
	height: 1px;
	width: 1px;
	padding: none;
	visibility: hidden;
	display: block;
}


[aria-label^="Загрузить приложения"] {
	height: 1px;
	width: 1px;
	padding: none;
	visibility: hidden;
	display: block;
}